.item{
    width: 23%;
    margin-left: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #80808059;
    padding: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    -webkit-transition:all 500ms ease-in-out;
    transition:all 500ms ease-in-out;
    -ms-transform:all 500ms ease-in-out;
    &:hover{
        -webkit-transform:scale(1.05);
        cursor: pointer;
        border: 1px solid grey;
        background: #80808014;
    }
    
    img{
        max-height: 200px;
        margin-right: 10px;
        height: 100%;
        width: auto;
    }

    h2{
        font-size: 18px;
        margin-top: 0;
        text-transform: capitalize;
    }
}
